<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="app" class="app.App">
        <property name="client" ref="client"/>
        <property name="el" ref="cacheFileEventLogger"/>
    </bean>

    <bean id="client" class="app.Client">
        <constructor-arg value="2"/>
        <constructor-arg value="Tom"/>
    </bean>

    <bean id="eventLogger" class="app.ConsoleEventLogger"/>

    <bean id="event" class="app.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="df"/>
    </bean>

    <bean name="df" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

    <bean name="fileEventLogger" class="app.FileEventLogger">
        <!--<constructor-arg name="filename" value="111.txt"/>-->
        <property name="filename" value="111.txt"/>
    </bean>

    <bean id="cacheFileEventLogger" class="app.CacheFileEvenLogger" parent="fileEventLogger" destroy-method="destroy">
        <property name="cacheSize" value="5"/>
    </bean>
</beans>